.gradle
/build/
/.project
/.classpath
/*/
!/gradle-plugins/
!/gradle/
!/scripts/
!/all/
/.idea/
/.settings/
/bin/

.DS_Store
/evaluation-interaction-analysis/plots/.idea/
/evaluation-interaction-analysis/plots/.venv/
